/*
    home-design-config
    @author Volker Mertens
    @version 1.0
 */

.menu {
  padding: 15px;
  list-style: none;
 
}

.menu li {
  cursor: pointer;
  height: 120px; 
  width: 200px;
  margin: 10px 0 0 10px;
  background: #ddd

} 

.menu li {
  position: relative;
  float: left
}

body {
  padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
  margin-bottom: 25px;
}

footer {
  margin: 0px 0;
}


.kacheln{
    position:relative;
    color:inherit;
    display: table-cell;
    font-family: inherit;
    font-size:23pt;
    font-style: normal;
    padding:2px;
    margin-top:5px;
    margin-bottom:5px;
    text-decoration: none;
    background-color: #59B2E0;
    height: 150px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
}

.kacheln:hover{
    text-decoration: none;
}
.active{

}